﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
        }

        .error-container {
            text-align: center;
            margin-top: 5%;
        }

        .error-code {
            font-size: 6em;
            color: #d9534f;
        }

        .error-message {
            font-size: 1.5em;
            color: #333;
            margin-top: -10px;
            margin-bottom: 30px;
        }

        .home-link {
            text-decoration: none;
            color: #fff;
            background-color: #5bc0de;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 1.2em;
        }

            .home-link:hover {
                background-color: #46b8da;
            }
    </style>
</head>
<body>
    <div class="error-container">
        <div class="error-code w3-animate-top">
            <code>403</code>
        </div>
        <div class="error-message w3-animate-right">
            <p>You don't have permission to view this site.</p>
        </div>
        <a href="/" class="home-link w3-animate-bottom">Go to Home Page</a>
    </div>
</body>
</html>
