
@await Component.InvokeAsync("Slider")
        <!--Start Features Style1 Area-->
        <section class="features-style1-area">
            <div class="container">
                <div class="sec-title text-center">
                    <h2>Bank for a Better Tomorrow</h2>
                    <div class="sub-title">
                        <p>Committed to helping our customers succeed.</p>
                    </div>
                </div>
                <div class="features-style1-content">
                    <ul class="clearfix">
                        <!--Start Single Features Style1 Box-->
                        <li>
                            <div class="single-features-style1-box">
                                <div class="shape-left">
                                    <img src="~/assets/images/shapes/shape-1.png" alt="">
                                </div>
                                <div class="shape-bottom">
                                    <img src="~/assets/images/shapes/shape-2.png" alt="">
                                </div>
                                <div class="counting-box">
                                    <div class="counting-box-bg"
                                        style="background-image: url(assets/images/shapes/counting-box-bg.png);"></div>
                                    <h3>01</h3>
                                </div>
                                <div class="text-box">
                                    <h4>Our All Cards</h4>
                                    <h3>You can show our all Cards</h3>
                                    <p>"Offering the best deals on business-size cards."</p>
                                    <div class="btn-box">
                                        <a asp-action="Index" asp-controller="Card">
                                            Read More
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--End Single Features Style1 Box-->
                        <!--Start Single Features Style1 Box-->
                        <li>
                            <div class="single-features-style1-box">
                                <div class="shape-left">
                                    <img src="~/assets/images/shapes/shape-1.png" alt="">
                                </div>
                                <div class="shape-bottom">
                                    <img src="~/assets/images/shapes/shape-2.png" alt="">
                                </div>
                                <div class="counting-box">
                                    <div class="counting-box-bg"
                                        style="background-image: url(assets/images/shapes/counting-box-bg.png);"></div>
                                    <h3>02</h3>
                                </div>
                                <div class="text-box">
                                    <h4>Saving Account</h4>
                            <h3>Smart Business, Savvy Savings.</h3>
                                    <p>"Unleash the Power of Savings in Your Business Journey</p>
                                    <div class="btn-box">
                                        <a asp-action="Index" asp-controller="Deposit">@*saving page *@
                                            Read More
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                </li>
                <li>
                    <div class="single-features-style1-box">
                        <div class="shape-left">
                            <img src="~/assets/images/shapes/shape-1.png" alt="">
                        </div>
                        <div class="shape-bottom">
                            <img src="~/assets/images/shapes/shape-2.png" alt="">
                        </div>
                        <div class="counting-box">
                            <div class="counting-box-bg"
                                 style="background-image: url(assets/images/shapes/counting-box-bg.png);"></div>
                            <h3>02</h3>
                        </div>
                        <div class="text-box">
                            <h4>Loan Page</h4>
                            <h3>Smart Business, Savvy Savings.</h3>
                            <p>"Unleash the Power of Savings in Your Business Journey</p>
                            <div class="btn-box">
                                <a asp-action="Index" asp-controller="Loan">
                                    @*saving page *@
                                    Read More
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Features Style1 Area-->
@await Component.InvokeAsync("BankIcon")


        <!--Start Features Style3 Area-->
        <section class="features-style3-area">
            <div class="container">
                <div class="row">

                    <div class="col-xl-6">
                        <div class="features-style3-img-box">
                            <div class="inner-img">
                                <img class="paroller" src="~/assets/BankImages/Loanimages.jpg" alt="">
                            </div>
                            <div class="icon-holder float-bob-y">
                                <span class="icon-interest-rate"></span>
                            </div>
                            <div class="icon-holder two">
                                <span class="icon-online-shop"></span>
                            </div>
                            <div class="icon-holder three">
                                <span class="icon-theater"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="features-style3-content">
                            <div class="sec-title">
                                <h2>Personalize Your<br> Card and Stand Out<br> From Crowd</h2>
                                <div class="sub-title">
                                    <p>Desire that they cannot foresee the pain & trouble that are bound too
                                        ensue equal blame belongs through shrinking.</p>
                                </div>
                            </div>
                            <div class="text-box">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-checkbox-mark"></span>
                                        </div>
                                        <p>Great explorer of the master-builder</p>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="icon-checkbox-mark"></span>
                                        </div>
                                        <p>Great explorer of the master-builder</p>
                                    </li>
                                </ul>
                                <div class="apply-credit-card">
                                    <h3>Apply for Credit Card</h3>
                                    <form  id="apply-credit-card" name="apply-credit-card" action="#" method="post">
                                        <div class="input-box">
                                            <input type="text" name="form_name" value="" placeholder="Name" required="">
                                        </div>
                                        <div class="input-box">
                                            <input type="text" name="form_name" value="" placeholder="Name" required="">
                                        </div>
                                        <div class="button-box">
                                            <button class="btn-one" type="submit" data-loading-text="Please wait...">
                                                <span class="txt">Apply Now</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--End Features Style3 Area-->

@await Component.InvokeAsync("Currency")


<!-- Centered Currency Converter Section -->
<style>
    .currency-converter-container {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .currency-input-label {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .separator-calc {
        height: 30px;
        border-left: 2px solid #ccc;
        margin: 0 20px;
    }

    #buyOption {
        display: none;
    }

    .fs-24 {
        font-size: 24px !important;
    }

    .border-e4e4e4 {
        border-color: #e4e4e4 !important;
    }

    .color-666 {
        color: #666 !important;
    }

    .w-100 {
        width: 80% !important;
    }
</style>


<div class="container mt-5 currency-converter-container">
    <div class="row justify-content-center">
        <div class="col-lg-6 pl-lg-3">
            <div class="mb-4 ml-lg-5">
                <h4 class="fw-500 fs-24 mt-0">Valyuta konvertoru</h4>
                <div class="border border-e4e4e4 p-3 px-lg-4 radius-5 pos-relative mb-3">
                    <!-- First currency converter content -->
                    <div class="d-flex justify-content-between align-items-center no-gutters js-currency-calc">
                        <label class="col-9 col-md-10 col-lg-9 currency-input-label">
                            <input type="number" id="sellInput" name="sell" placeholder="Selling" class="w-100 fs-18 fs-lg-20 color-666 border-0 outline-0 pr-3" oninput="convertCurrency('sell')">
                            <span class="separator-calc"></span>
                        </label>

                        <span class="col-3 col-md-2 col-lg-3 d-flex justify-content-end">
                            <div class="selectric-wrapper selectric-selectric-tooltip">
                                <div class="selectric-hide-select">
                                    <select name="" class="selectric-tooltip" id="js-selectric-currency-1" data-previous-value="USD" aria-label="Currency" tabindex="-1" onchange="convertCurrency('sell')">
                                        <option value="USD">USD</option>
                                        <option value="AZN">AZN</option>
                                        <option value="RUB">RUB</option>
                                        <option value="EUR">EUR</option>
                                    </select>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>

                <!-- Updated style for the "Alıram" (buy) option -->
                <div class="border border-e4e4e4 p-3 px-lg-4 radius-5 pos-relative" id="buyOption">
                    <!-- Second currency converter content -->
                    <div class="d-flex justify-content-between align-items-center no-gutters js-currency-calc">
                        <label class="col-9 col-md-10 col-lg-9 currency-input-label">
                            <input type="number" id="buyInput" name="buy" placeholder="Buying" class="w-100 fs-18 fs-lg-20 color-666 border-0 outline-0 pr-3" oninput="convertCurrency('buy')">
                            <span class="separator-calc mr-2 mr-lg-0"></span>
                        </label>

                        <span class="col-3 col-md-2 col-lg-3 d-flex justify-content-end">
                            <div class="selectric-wrapper selectric-selectric-tooltip">
                                <div class="selectric-hide-select">
                                    <select name="" class="selectric-tooltip" id="js-selectric-currency-2" data-previous-value="AZN" aria-label="Currency" tabindex="-1" onchange="convertCurrency('buy')">
                                        <option value="AZN">AZN</option>
                                        <option value="USD">USD</option>
                                        <option value="RUB">RUB</option>
                                        <option value="EUR">EUR</option>
                                    </select>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Centered Currency Converter Section -->
<!-- Existing Code -->

<script>
    function convertCurrency(type) {
        const sellInput = document.getElementById('sellInput');
        const buyInput = document.getElementById('buyInput');
        const buyOption = document.getElementById('buyOption');

        const exchangeRates = {
            USD: 1.0,
            AZN: 1.7, // Replace with your actual exchange rates
            RUB: 0.02,
            EUR: 1.85
        };

        const selectedCurrency = document.getElementById(type === 'sell' ? 'js-selectric-currency-1' : 'js-selectric-currency-2');
        const selectedCurrencyValue = selectedCurrency.options[selectedCurrency.selectedIndex].value;

        if (type === 'sell') {
            buyInput.value = (sellInput.value * exchangeRates[selectedCurrencyValue]).toFixed(2);
            buyOption.style.display = 'block';  // Show the "Alıram" (buy) option
        } else {
            sellInput.value = (buyInput.value / exchangeRates[selectedCurrencyValue]).toFixed(2);
        }
    }

    // Hiding the "Alıram" (buy) option initially
    document.getElementById('buyOption').style.display = 'none';
</script>
<!-- Existing Code -->



<title>Monthly Payment Calculator</title>
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #fafafa; /* Light gray background */
        margin: 20px;
        text-align: center;
    }

    h1 {
        color: #2c3e50; /* Dark blue-gray heading color */
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
        color: #555;
    }

    input {
        width: 80%;
        margin-bottom: 15px;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #bdc3c7; /* Light gray border */
        border-radius: 5px;
    }

        input[type="range"] {
            width: 60%;
        }

    span {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 14px;
        color: #777;
    }

    #result {
        margin-top: 20px;
        font-weight: bold;
        font-size: 18px;
        color: #333;
    }
</style>

<h1>Monthly Payment Calculator</h1>

<label for="amount">Select the amount you want to control (max $50,000):</label>
<input type="range" id="amount" min="0" max="50000" value="0">
<span id="amountValue">0</span>

<label for="months">Select the number of months you want to stay (max 36 months):</label>
<input type="range" id="months" min="1" max="36" value="1">
<span id="monthsValue">1 month</span>

<label for="interest">Select the interest rate (5% to 20%):</label>
<input type="range" id="interest" min="5" max="20" step="0.1" value="5">
<span id="interestValue">5%</span>

<div id="result"></div>

<script>
    function updateValues() {
        const amount = parseFloat(document.getElementById('amount').value);
        const months = parseInt(document.getElementById('months').value);
        const interest = parseFloat(document.getElementById('interest').value);

        document.getElementById('amountValue').innerText = `$${amount}`;
        document.getElementById('monthsValue').innerText = `${months} months`;
        document.getElementById('interestValue').innerText = `${interest}%`;

        const monthlyInterestRate = interest / 100 / 12;
        const monthlyPayment = (amount * monthlyInterestRate) / (1 - Math.pow(1 + monthlyInterestRate, -months));

        document.getElementById('result').innerText = `Your monthly payment for ${months} months will be $${monthlyPayment.toFixed(2)}`;
    }

    document.getElementById('amount').addEventListener('input', updateValues);
    document.getElementById('months').addEventListener('input', updateValues);
    document.getElementById('interest').addEventListener('input', updateValues);

    updateValues();
</script>



@await Component.InvokeAsync("Question")