  <!--Start Main Header Style1 Bottom-->
<div class="main-header-style1-bottom">
    <div class="auto-container">
        <div class="outer-box">
            <div class="update-box">
                <div class="inner-title">
                    <span class="icon-megaphone"></span>
                    <h4>Updates:</h4>
                </div>
                <div class="text">
                    <p>Get upto 4%* on our Savings Account Balances with Finbank.</p>
                    <a href="#"><span class="icon-chevron"></span>More Details</a>
                </div>
            </div>
            <div class="slogan-box">
                <p>
                    Dear Customer, We have launched Video KYC facility for New customer to open savings ac
                </p>
            </div>
        </div>
    </div>
</div>
<!--End Main Header Style1 Bottom-->
        </header>

<!--Start Intro Style1 Area-->
<section class="intro-style1-area">
    <div class="container">
        <div class="row">

            <div class="col-xl-6">
                <div class="intro-style1-video-gallery">
                    <div class="intro-style1-video-gallery-bg"
                         style="background-image: url(assets/BankImages/bankimages6.jpg);">
                    </div>
                    <div class="intro-video-gallery-style1">
                        <div class="icon wow zoomIn animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <a class="video-popup" title="Video Gallery"
                               href="https://www.youtube.com/watch?v=X8FkegKcfjo">
                                <span class="icon-play-button-1"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="intro-style1-content-box">
                    <div class="sec-title">
                        <h2>Known for Trust,<br> Honesty & Customer<br> Support</h2>
                    </div>
                    <div class="text">
                        <p>
                            Belongs to those who fail in their duty through weakness of will, which is
                            the same as saying through shrinking from toil and pain. These cases are
                            perfectly simple and easy to distinguish.
                        </p>

                        <p>
                            Choice is untrammelled and when nothing prevents our being able to do
                            what we like best every pleasure is to be welcomed.
                        </p>
                    </div>

                    <div class="row">
                        <!--Start Intro Style1 Single Box-->
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="intro-style1-single-box">
                                <div class="img-box">
                                    <div class="img-box-inner">
                                        <img src="assets/BankImages/journey.jpg" alt="">
                                    </div>
                                    <div class="overlay-text">
                                        <h3>Our Journey</h3>
                                    </div>
                                </div>
                                <div class="title-box">
                                    <h3>For Over Four Decades Our Bank</h3>
                                </div>
                            </div>
                        </div>
                        <!--End Intro Style1 Single Box-->
                        <!--Start Intro Style1 Single Box-->
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="intro-style1-single-box">
                                <div class="img-box">
                                    <div class="img-box-inner">
                                        <img src="assets/BankImages/team12.jpg" alt="">
                                    </div>
                                    <div class="overlay-text">
                                        <h3>Our Team</h3>
                                    </div>
                                </div>
                                <div class="title-box">
                                    <h3>Passion & Professional Managemen</h3>
                                </div>
                            </div>
                        </div>
                        <!--End Intro Style1 Single Box-->
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!--End Intro Style1 Area-->
<!--Start Choose Style1 Area-->
<section class="choose-style1-area">
    <div class="container">
        <ul class="row choose-style1__content">

            <!--Start Single Choose Style1-->
            <li class="col-xl-4 col-lg-4 single-choose-style1-colum text-center">
                <div class="single-choose-style1">
                    <div class="icon">
                        <div class="icon-inner">
                            <span class="icon-crowd"></span>
                        </div>
                        <div class="counting">01</div>
                    </div>
                    <div class="text">
                        <h3>Community</h3>
                        <p>
                            Must explain to you how work mistaken give you complete guide they
                            cannot foresee pain.
                        </p>
                    </div>
                </div>
            </li>
            <!--End Single Choose Style1-->
            <!--Start Single Choose Style1-->
            <li class="col-xl-4 col-lg-4 single-choose-style1-colum text-center">
                <div class="single-choose-style1">
                    <div class="icon">
                        <div class="icon-inner">
                            <span class="icon-commitment"></span>
                        </div>
                        <div class="counting">02</div>
                    </div>
                    <div class="text">
                        <h3>Commitment</h3>
                        <p>
                            Business it will frequently occur that pleasures have to be repudiated and
                            annoyances accepted.
                        </p>
                    </div>
                </div>
            </li>
            <!--End Single Choose Style1-->
            <!--Start Single Choose Style1-->
            <li class="col-xl-4 col-lg-4 single-choose-style1-colum text-center">
                <div class="single-choose-style1">
                    <div class="icon">
                        <div class="icon-inner">
                            <span class="icon-consistency"></span>
                        </div>
                        <div class="counting">03</div>
                    </div>
                    <div class="text">
                        <h3>Consistency</h3>
                        <p>
                            Being able to do what we like best every pleasure is to be welcomed and pain
                            avoided but in certain.
                        </p>
                    </div>
                </div>
            </li>
            <!--End Single Choose Style1-->

        </ul>
    </div>
</section>
<!--End Choose Style1 Area-->

<!--Start Facts Area-->
<section class="facts-area">
    <div class="facts-area-bg" style="background-image: url(assets/BankImages/bankimage5.jpg);">
    </div>
    <div class="container">
        <div class="sec-title text-center">
            <h2>Few Interesting Numbers</h2>
            <div class="sub-title">
                <p>Numbers that speak about banking service.</p>
            </div>
        </div>
        <div class="row">
            <!--Start Single Fact Box-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-fact-box">
                    <div class="icon">
                        <span class="icon-bank">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span>
                        </span>
                    </div>
                    <div class="text">
                        <h3>Our Network</h3>
                        <p>86 Branches around the country</p>
                    </div>
                </div>
            </div>
            <!--End Single Fact Box-->
            <!--Start Single Fact Box-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-fact-box">
                    <div class="icon">
                        <span class="icon-expert"><span class="path1"></span><span class="path2"></span></span>
                    </div>
                    <div class="text">
                        <h3>Customers</h3>
                        <p>More than 1.5 illion customers</p>
                    </div>
                </div>
            </div>
            <!--End Single Fact Box-->
            <!--Start Single Fact Box-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-fact-box">
                    <div class="icon">
                        <span class="icon-human">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span>
                        </span>
                    </div>
                    <div class="text">
                        <h3>Employee</h3>
                        <p>1.6k professional employees</p>
                    </div>
                </div>
            </div>
            <!--End Single Fact Box-->
            <!--Start Single Fact Box-->
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-fact-box">
                    <div class="icon">
                        <span class="icon-money-bag">
                            <span class="path1"></span><span class="path2"></span>
                        </span>
                    </div>
                    <div class="text">
                        <h3>Loans Disbursed</h3>
                        <p>45.6 Cr loans for 258 customers</p>
                    </div>
                </div>
            </div>
            <!--End Single Fact Box-->

        </div>
    </div>
</section>
<!--End Facts Area-->
<!--Start Statistics Area-->
<section class="statistics-area">
    <div class="container">
        <div class="row">

            <div class="col-xl-6">
                <div class="statistics-content-box">
                    <div class="sec-title">
                        <h2>Better Value<br> Banking Experience</h2>
                    </div>
                    <div class="text">
                        <p>
                            Business it will frequently occur that pleasures have to be repudiated
                            and annoyances accepted. The wise man therefore always holds these
                            matters to this principle of selection.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="statistics-chart">
                    <img src="assets/images/resources/statistics-chart.png" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Statistics Area-->
<!--Start Awards Achivements Area-->
<section class="awards-achivements-area" style="background-color: #f7f1eb;">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Awards & Major Achivements</h2>
            <div class="sub-title">
                <p>Outstanding performance and achievements.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="awards-achivements-left-box">
                    <!--Start single awards achivements box -->
                    <div class="single-awards-achivements-box">
                        <div class="top">
                            <div class="icon">
                                <img src="assets/images/icon/award-1.png" alt="">
                            </div>
                            <div class="inner-title">
                                <h3>Bank of the Year<br> Europe</h3>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <span>Year</span><b>:</b> 2020-2021
                            </li>
                            <li>
                                <span>Award by</span><b>:</b> Los Vegas Business Time
                            </li>
                        </ul>
                    </div>
                    <!--End single awards achivements box -->
                    <!--Start single awards achivements box -->
                    <div class="single-awards-achivements-box">
                        <div class="top">
                            <div class="icon">
                                <img src="assets/images/icon/award-1.png" alt="">
                            </div>
                            <div class="inner-title">
                                <h3>Best Commercial<br> Bank Award</h3>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <span>Year</span><b>:</b> 2017-2018
                            </li>
                            <li>
                                <span>Award by</span><b>:</b> Los Vegas Business Time
                            </li>
                        </ul>
                    </div>
                    <!--End single awards achivements box -->
                </div>
            </div>

            <div class="col-xl-4">
                <div class="awards-img-box">
                    <div class="round-box"></div>
                    <div class="shape1">
                        <img src="assets/images/resources/trophy-shape-1.png" alt="">
                    </div>
                    <div class="shape2">
                        <img src="assets/images/resources/trophy-shape-2.png" alt="">
                    </div>
                    <div class="inner">
                        <img src="assets/images/resources/trophy.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="awards-achivements-right-box">
                    <!--Start single awards achivements box -->
                    <div class="single-awards-achivements-box">
                        <div class="top">
                            <div class="icon">
                                <img src="assets/images/icon/award-1.png" alt="">
                            </div>
                            <div class="inner-title">
                                <h3>Best Private Bank<br> Award</h3>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <span>Year</span><b>:</b> 2018-2019
                            </li>
                            <li>
                                <span>Award by</span><b>:</b> Los Vegas Business Time
                            </li>
                        </ul>
                    </div>
                    <!--End single awards achivements box -->
                    <!--Start single awards achivements box -->
                    <div class="single-awards-achivements-box">
                        <div class="top">
                            <div class="icon">
                                <img src="assets/images/icon/award-1.png" alt="">
                            </div>
                            <div class="inner-title">
                                <h3>Banker’s Bank of the<br> Year Awards</h3>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <span>Year</span><b>:</b> 2014-2015
                            </li>
                            <li>
                                <span>Award by</span><b>:</b> Los Vegas Business Time
                            </li>
                        </ul>
                    </div>
                    <!--End single awards achivements box -->
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Awards Achivements Area-->
