      <!--Start Main Header Style1 Bottom-->
<div class="main-header-style1-bottom">
    <div class="auto-container">
        <div class="outer-box">
            <div class="update-box">
                <div class="inner-title">
                    <span class="icon-megaphone"></span>
                    <h4>Updates:</h4>
                </div>
                <div class="text">
                    <p>Get upto 4%* on our Savings Account Balances with Finbank.</p>
                    <a href="#"><span class="icon-chevron"></span>More Details</a>
                </div>
            </div>
            <div class="slogan-box">
                <p>
                    Dear Customer, We have launched Video KYC facility for New customer to open savings ac
                </p>
            </div>
        </div>
    </div>
</div>
<!--End Main Header Style1 Bottom-->
        </header>


@*<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->
*@
<!--Start Card Banner Area-->
@*<section class="card-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="card-banner-content">
                    <div class="card-banner-content-bg"
                         style="background-image: url(assets/images/shapes/card-banner-area-bg.png);">
                    </div>
                    <div class="card-banner-content-img-box">
                        <img src="assets/images/resources/card-banner-img-1.png" alt="">
                    </div>
                    <div class="inner-title">
                        <h4>Corporate Credit Card</h4>
                        <h2>Higher Efficiencies &<br> Savings</h2>
                    </div>
                    <div class="text">
                        <p>Rationally encounter consequences that are <br> who loves or pursues desire.</p>
                    </div>
                    <div class="btns-box">
                        <a class="btn-one" href="loan-home.html">
                            <span class="txt">Apply Now</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!--End Card Banner Area-->
<!--Start Cards Area-->
<section class="cards-area">
    <div class="container">
        <div class="row">

            <div class="col-xl-3">
                <div class="sidebar-box-style1">
                    <!--Start Single Sidebar Box Style1-->
                    <div class="single-sidebar-box-style1 margintop">
                        <div class="sidebar-title">
                            <div class="dot-box"></div>
                            <h3>Card Types</h3>
                        </div>
                        <div class="card-types-box">
                            <ul>
                                <li><a asp-action="Index" asp-controller="CardCash">Cashback</a></li>
                                <li><a asp-action="Index" asp-controller="CardBusiness">Business</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--End Single Sidebar Box Style1-->
                </div>
            </div>

            <div class="col-xl-9">
                <div class="cards-content-box">

                    <div class="cards-content-box-top">
                        <div class="left-box">
                            <h2>Best Cards for Your Needs</h2>
                        </div>
                        <div class="right-box">
                            <div class="short-by">
                                <div class="select-box">
                                    <select class="wide">
                                        <option data-display="Default Sorting">Default Sorting</option>
                                        <option value="1">Popularity</option>
                                        <option value="2">Popularity</option>
                                        <option value="3">Popularity</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Start Single Card Box-->
                    <div class="single-card-box">
                        <div class="category-box">Rewards</div>
                        <div class="cards-img-box">
                            <div class="inner-title">
                                <h3>Platinum Credit Card</h3>
                            </div>
                            <div class="inner">
                                <img src="assets/images/resources/card-1.jpg" alt="">
                            </div>
                            <div class="btn-box">
                            @*    <a class="btn-one style2" href="contact.html">
                                    <span class="txt">Apply Now</span>
                                </a>*@
                               @* <a class="btn-one" href="#">
                                    <span class="txt">Read More</span>
                                </a>*@
                            </div>
                        </div>
                        <div class="cards-text-box">
                            <p>
                                Explore a new world of rewards with the Platinum
                                Credit Card.
                            </p>
                            <h3>Features & Benefits</h3>
                            <ul>
                                <li>Zero Joining and Annual Fees</li>
                                <li>2% Fuel Surcharge waiver at HPCL Petrol Pumps</li>
                                <li>Multi Rewards & Lifestyle Benefits</li>
                                <li>5X TAT Miles on Travel</li>
                            </ul>
                        </div>
                    </div>
                    <!--End Single Card Box-->
                    

                </div>
            </div>

        </div>
    </div>
</section>
<!--End Cards Area-->
