@model Dictionary<string, string>

<div class="container">
    <table class="table">
        <tbody>
            @foreach (var item in Model.Where(k => k.Key != "Logo").ToList())
            {
                <tr>
                    <th scope="row">@item.Key</th>
                    <td>@item.Value</td>
                </tr>
            }
        </tbody>
    </table>

@*    <h3>Logo Image</h3>
    <div class="container mt-3 mb-3">
        <img src="~/Upload/Settings/@Model["Logo"]" />
    </div>
*@
    <a asp-action="Update" asp-controller="Settings" class="btn btn-warning">Update Settings</a>
</div>
