 <!--Start Main Header Style1 Bottom-->
            <div class="main-header-style1-bottom">
                <div class="auto-container">
                    <div class="outer-box">
                        <div class="update-box">
                            <div class="inner-title">
                                <span class="icon-megaphone"></span>
                                <h4>Updates:</h4>
                            </div>
                            <div class="text">
                                <p>Get upto 4%* on our Savings Account Balances with Finbank.</p>
                                <a href="#"><span class="icon-chevron"></span>More Details</a>
                            </div>
                        </div>
                        <div class="slogan-box">
                            <p>Dear Customer, We have launched Video KYC facility for New customer to open savings ac
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Main Header Style1 Bottom-->

        </header>




        <!--Start Overview Area-->
        <section class="overview-area">
            <div class="container">
                <div class="sec-title text-center">
                    <h2>Get More From Your Money</h2>
                    <div class="sub-title">
                        <p>Access your money anytime and anywhere.</p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-xl-6">
                        <div class="overview-content-box-one">
                            <ul class="clearfix">
                                <li>
                                    <div class="single-overview-box">
                                        <div class="icon">
                                            <span class="icon-checkbox-mark"></span>
                                        </div>
                                        <div class="title">
                                            <h3><a href="#">Instant Account<br> Opening</a></h3>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-overview-box">
                                        <div class="icon">
                                            <span class="icon-checkbox-mark"></span>
                                        </div>
                                        <div class="title">
                                            <h3><a href="#">Exciting Offers &<br> Discounts</a></h3>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-overview-box">
                                        <div class="icon">
                                            <span class="icon-checkbox-mark"></span>
                                        </div>
                                        <div class="title">
                                            <h3><a href="#">Secure Internet &<br> Mob Banking</a></h3>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-overview-box">
                                        <div class="icon">
                                            <span class="icon-checkbox-mark"></span>
                                        </div>
                                        <div class="title">
                                            <h3><a href="#">Earn<br> Reward Points</a></h3>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="overview-content-box-two">
                            <div class="inner-title">
                                <h5>Know About</h5>
                                <h2>Savings Account</h2>
                            </div>
                            <div class="text">
                                <p>Fail in their duty through weakness of will which is the same as saying through
                                    shrinking from toil and pain cases are perfectly simple and easy to distinguish.
                                    In a free hour, when our power of choice.</p>
                                <p>The claims off duty or the obligations business it will frequently occur that
                                    pleasures be repudiated to distinguish nothing prevents.</p>
                            </div>
                            <div class="btns-box">
                                <a class="btn-one" href="blog.html">
                                    <span class="txt"><i class="icon-payment"></i>Open an Account</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--End Overview Area-->

     
        <!--Start page Contains Area-->
        <section class="page-contains-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page-contains-box">

                            <div class="page-contains-btn">
                                <ul class="navigation clearfix scroll-nav">
                                    <li class="current">
                                        <a href="#benefits">
                                            <span class="icon-right-arrow"></span>
                                            Benefits
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#eligibility">
                                            <span class="icon-right-arrow"></span>
                                            Eligibility
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#required">
                                            <span class="icon-right-arrow"></span>
                                            Documents Required
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#interest">
                                            <span class="icon-right-arrow"></span>
                                            Interest & Charges
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="right-btn">
                                <a href="faq.html">Customers faq’s</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End page Contains Area-->


        <!--Start Benefits Style2 Area-->
        <section id="benefits" class="benefits-style2-area">
            <div class="container">
                <div class="sec-title text-center">
                    <h2>Our Savings Account Benefits</h2>
                    <div class="sub-title">
                        <p>We help businesses and customers achieve more.</p>
                    </div>
                </div>
                <ul class="row benefits-content text-center">

                    <!--Start Single Benefits Box Colum-->
                    <li class="col-xl-4 single-benefits-box-colum">
                        <div class="single-benefits-box">
                            <div class="icon">
                                <span class="icon-high"></span>
                            </div>
                            <div class="text">
                                <h3>Earn Interest up to 7%</h3>
                                <p>Holds these matters principles selection
                                    right some rejects.</p>
                            </div>
                        </div>
                    </li>
                    <!--End Single Benefits Box Colum-->
                    <!--Start Single Benefits Box Colum-->
                    <li class="col-xl-4 single-benefits-box-colum">
                        <div class="single-benefits-box">
                            <div class="icon">
                                <span class="icon-notification"></span>
                            </div>
                            <div class="text">
                                <h3>Free SMS Alerts</h3>
                                <p>Business will frequently occur that pleasure
                                    have to be repudiated.</p>
                            </div>
                        </div>
                    </li>
                    <!--End Single Benefits Box Colum-->
                    <!--Start Single Benefits Box Colum-->
                    <li class="col-xl-4 single-benefits-box-colum">
                        <div class="single-benefits-box">
                            <div class="icon">
                                <span class="icon-safebox"></span>
                            </div>
                            <div class="text">
                                <h3>Discounts on Locker</h3>
                                <p>The wise man therefore always holds these
                                    principle of selection.</p>
                            </div>
                        </div>
                    </li>
                    <!--End Single Benefits Box Colum-->


                    <!--Start Single Benefits Box Colum-->
                    <li class="col-xl-4 single-benefits-box-colum">
                        <div class="single-benefits-box">
                            <div class="icon">
                                <span class="icon-credit-card-2"></span>
                            </div>
                            <div class="text">
                                <h3>International Debit Cards</h3>
                                <p>The wise man therefore always holds these
                                    principle of selection.</p>
                            </div>
                        </div>
                    </li>
                    <!--End Single Benefits Box Colum-->
                    <!--Start Single Benefits Box Colum-->
                    <li class="col-xl-4 single-benefits-box-colum">
                        <div class="single-benefits-box">
                            <div class="icon">
                                <span class="icon-shield-1"></span>
                            </div>
                            <div class="text">
                                <h3>Provides Safety</h3>
                                <p>Holds these matters principles selection
                                    right some rejects.</p>
                            </div>
                        </div>
                    </li>
                    <!--End Single Benefits Box Colum-->
                    <!--Start Single Benefits Box Colum-->
                    <li class="col-xl-4 single-benefits-box-colum">
                        <div class="single-benefits-box">
                            <div class="icon">
                                <span class="icon-paperless"></span>
                            </div>
                            <div class="text">
                                <h3>Paperless Banking</h3>
                                <p>Business will frequently occur that pleasure
                                    have to be repudiated.</p>
                            </div>
                        </div>
                    </li>
                    <!--End Single Benefits Box Colum-->

                </ul>
            </div>
        </section>
        <!--End Benefits Style2 Area-->


        <!--Start Eligibility Area-->
        <section id="eligibility" class="eligibility-area">
            <div class="container">
                <div class="row">

                    <div class="col-xl-6">
                        <div class="eligibility-img-box">
                            <div class="sec-title">
                                <h2>Eligibility to <br>Open Savings Account</h2>
                                <div class="sub-title">
                                    <p>Eligibility parameters for saving account.</p>
                                </div>
                            </div>
                            <div class="eligibility-img-box__inner">
                                <img src="assets/images/resources/eligibility-img-1.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="eligibility-content-box">
                            <div class="eligibility-content-box__inner">
                                <ul>
                                    <li>
                                        <div class="inner">
                                            <div class="counting">1</div>
                                            <div class="text">
                                                <h3>Nationality</h3>
                                                <p>Indian Residents, and Non-Resident individuals</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="inner">
                                            <div class="counting">2</div>
                                            <div class="text">
                                                <h3>Age</h3>
                                                <p>18 Years old or above</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="inner">
                                            <div class="counting">3</div>
                                            <div class="text">
                                                <h3>Nationality</h3>
                                                <p>Residents, and Non-Resident individuals</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="inner">
                                            <div class="counting">4</div>
                                            <div class="text">
                                                <h3>Age</h3>
                                                <p>18 Years old or above</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--End Eligibility Area-->

        <!--Start Documents Area-->
        <section id="required" class="documents-area">
            <div class="container">
                <div class="sec-title text-center">
                    <h2>Savings A/c Required Documents</h2>
                    <div class="sub-title">
                        <p>Basic documents required for opening a savings account.</p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-xl-3 col-lg-6">
                        <!--Start Single Documents Box-->
                        <div class="single-documents-box">
                            <div class="inner-title">
                                <h3>PAN Card<br> is Mandatory</h3>
                            </div>
                        </div>
                        <!--End Single Documents Box-->
                        <!--Start Single Documents Box-->
                        <div class="single-documents-box">
                            <div class="inner-title">
                                <h3>Duly Filled<br> Application Form</h3>
                            </div>
                        </div>
                        <!--End Single Documents Box-->
                    </div>

                    <div class="col-xl-3 col-lg-6">
                        <!--Start Single Documents Box-->
                        <div class="single-documents-box">
                            <div class="inner-title">
                                <h3>Non Resident</h3>
                            </div>
                            <ul>
                                <li><span class="icon-play-button-1"></span><a href="#">Passport</a></li>
                                <li><span class="icon-play-button-1"></span><a href="#">Driving License</a></li>
                                <li><span class="icon-play-button-1"></span><a href="#">Aadhaar Number</a></li>
                                <li><span class="icon-play-button-1"></span><a href="#">Voter’s Identity Card</a></li>
                            </ul>
                        </div>
                        <!--End Single Documents Box-->
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <!--Start Single Documents Box-->
                        <div class="single-documents-box">
                            <div class="inner-title">
                                <h3>For Resident</h3>
                            </div>
                            <ul>
                                <li><span class="icon-play-button-1"></span><a href="#">Passport</a></li>
                                <li><span class="icon-play-button-1"></span><a href="#">Visa</a></li>
                                <li><span class="icon-play-button-1"></span><a href="#">Bank Statement (If any)</a></li>
                                <li><span class="icon-play-button-1"></span><a href="#">Company Proof</a></li>
                            </ul>
                        </div>
                        <!--End Single Documents Box-->
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <!--Start Single Documents Box-->
                        <div class="single-documents-box">
                            <div class="inner-title">
                                <h3>Color & Passport Size<br>Photographs</h3>
                            </div>
                        </div>
                        <!--End Single Documents Box-->
                        <!--Start Single Documents Box-->
                        <div class="single-documents-box">
                            <div class="inner-title">
                                <h3>Color & Passport Size<br>Photographs</h3>
                            </div>
                        </div>
                        <!--End Single Documents Box-->
                    </div>

                </div>
            </div>
        </section>
        <!--End Documents Area-->


        <!--Start Interest Charges Area-->
        <section id="interest" class="interest-charges-area">
            <div class="interest-charges-area-shape1">
                <img src="assets/images/shapes/interest-charges-area-shape-1.png" alt="">
            </div>
            <div class="container">
                <div class="sec-title text-center">
                    <h2>Account Interest & Charges</h2>
                    <div class="sub-title">
                        <p>Your money is making money for you & Your Family.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">

                        <div class="interest-charges-table-box">

                            <div class="table-outer">
                                <table class="interest-charges-table">

                                    <tbody>

                                        <tr>
                                            <td class="title">
                                                <h3>Account Interest Rates<br> Per Annum</h3>
                                            </td>
                                            <td class="balance">
                                                <div class="inner-title">
                                                    <h3>Balance in a/c</h3>
                                                </div>
                                                <ul>
                                                    <li>Up to Rs. 1 Lakh</li>
                                                    <li>Above 1 Lakh to 5 Lakh</li>
                                                    <li>Above 5 Lakh to 10 Lakh</li>
                                                    <li>Above 10Lakh</li>
                                                </ul>
                                            </td>
                                            <td class="interest">
                                                <div class="inner-title">
                                                    <h3>Interest</h3>
                                                </div>
                                                <ul>
                                                    <li>3.00%</li>
                                                    <li>5.00%</li>
                                                    <li>8.25%</li>
                                                    <li>10.00%</li>
                                                </ul>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="title">
                                                <h3>Debit Card</h3>
                                            </td>
                                            <td class="balance">
                                                <ul>
                                                    <li>Annual Fees</li>
                                                    <li>Transaction Limit</li>
                                                    <li>Card Replacement</li>
                                                </ul>
                                            </td>
                                            <td class="interest">
                                                <ul>
                                                    <li>Nill</li>
                                                    <li>20 Lakh / Annum</li>
                                                    <li>Rs.600+Taxes</li>
                                                </ul>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="title">
                                                <h3>Credit Card</h3>
                                            </td>
                                            <td class="balance">
                                                <ul>
                                                    <li>Annual Fees</li>
                                                    <li>Card Replacement</li>
                                                </ul>
                                            </td>
                                            <td class="interest">
                                                <ul>
                                                    <li>Rs.1500</li>
                                                    <li>Rs.600+Taxes</li>
                                                </ul>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!--End Interest Charges Area-->



    @await Component.InvokeAsync("Question")