 <!--Start Main Header Style1 Bottom-->
<div class="main-header-style1-bottom">
    <div class="auto-container">
        <div class="outer-box">
            <div class="update-box">
                <div class="inner-title">
                    <span class="icon-megaphone"></span>
                    <h4>Updates:</h4>
                </div>
                <div class="text">
                    <p>Get upto 4%* on our Savings Account Balances with Finbank.</p>
                    <a href="#"><span class="icon-chevron"></span>More Details</a>
                </div>
            </div>
            <div class="slogan-box">
                <p>
                    Dear Customer, We have launched Video KYC facility for New customer to open savings ac
                </p>
            </div>
        </div>
    </div>
</div>
<!--End Main Header Style1 Bottom-->
        </header>


<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->
<!--Start breadcrumb area-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg"
         style="background-image: url(assets/images/backgrounds/breadcrumb-area-bg-5.jpg);"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500">
                        <h2>Card Single</h2>
                    </div>
                    <div class="breadcrumb-menu" data-aos="fade-left" data-aos-easing="linear"
                         data-aos-duration="500">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Cashback Cards</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start Cards Details Area-->
<section class="cards-details-area">
    <div class="container">
        <div class="row">

            <div class="col-xl-4">
                <div class="sidebar-box-style2">
                    <!--Start Single Sidebar Box Style1-->
                    <div class="single-sidebar-box-style1">
                        <div class="sidebar-title">
                            <div class="dot-box"></div>
                            <h3>Card Types</h3>
                        </div>
                        <div class="card-types-box">
                            <ul>
                                <li><a href="cards-business.html">Business</a></li>
                                <li class="active"><a href="cards-cashback.html">Cashback</a></li>
                                <li><a href="cards-law-interest.html">Low Interest</a></li>
                                <li><a href="cards-rewards.html">Rewards</a></li>
                                <li><a href="cards-secured.html">Secured</a></li>
                                <li><a href="cards-travel-hotel.html">Travel & Hotel</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--End Single Sidebar Box Style1-->

                    <div class="border-box-1"></div>

                    <!--Start Sidebar Banner Box-->
                    <div class="sidebar-banner-box">
                        <div class="top-box float-bob-y"></div>
                        <div class="bottom-box float-bob-x"></div>
                        <div class="logo-box">
                            <a href="index.html">
                                <img src="assets/images/resources/banner-logo-1.png" alt="">
                            </a>
                        </div>
                        <h3>Apply for Credit<br> Card Online</h3>
                        <ul>
                            <li><span class="icon-checkbox-mark"></span> The well master-builder</li>
                            <li><span class="icon-checkbox-mark"></span> On the other hand</li>
                        </ul>
                        <div class="btns-box">
                            <a class="btn-one" href="contact.html">
                                <span class="txt">Apply Now</span>
                            </a>
                        </div>
                    </div>
                    <!--End Sidebar Banner Box-->

                </div>
            </div>

            <div class="col-xl-8">
                <div class="cards-deails-content-box">
                    <div class="cards-deails-content-1">
                        <div class="inner-title">
                            <h5>Know About</h5>
                            <h2>Cashback Credit Cards</h2>
                        </div>
                        <div class="text">
                            <p>
                                Fail in their duty through weakness of will which is the same as saying through
                                shrinking from toil and pain cases are perfectly simple and easy to distinguish.
                                In a free hour, when our power of choice the claims off duty or the obligations
                                business it will frequently occur that pleasures.
                            </p>
                            <p>
                                Through weakness of will which is the same as saying through shrinking from toil
                                and pain cases are per-
                                fectly simple and easy to distinguish in a free hour.
                            </p>
                        </div>
                    </div>

                    <div class="cards-deails-content-2">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="img-box">
                                    <ul>
                                        <li>
                                            <div class="single-img-box">
                                                <img src="assets/images/resources/card-details-1.jpg" alt="">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="single-img-box">
                                                <img src="assets/images/resources/card-details-2.jpg" alt="">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="text-box">
                                    <ul>
                                        <li>
                                            <span class="icon-shield-2"></span>
                                            <h3>Welcome Bonus</h3>
                                            <p>
                                                Holds these matters principles selection
                                                right some rejects.
                                            </p>
                                        </li>
                                        <li>
                                            <span class="icon-shield-2"></span>
                                            <h3>Accelerated Rewards</h3>
                                            <p>
                                                Business will frequently occur that pleasure
                                                have to be repudiated.
                                            </p>
                                        </li>
                                        <li>
                                            <span class="icon-shield-2"></span>
                                            <h3>Fuel Surcharge Waiver</h3>
                                            <p>
                                                The wise man therefore always holds these
                                                principle of selection.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-details-features-box">
                        <div class="inner-title">
                            <h2>Features</h2>
                            <p>
                                Same as saying through shrinking from toil and pain cases are perfectly simple
                                and easy to distinguish. In a free hour, when our power of choice the claims off
                                duty or the obligations.
                            </p>
                        </div>

                        <div class="row">

                            <!--Start Card Details Single Features Box-->
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="card-details-single-features-box">
                                    <div class="single-benefits-box">
                                        <div class="icon">
                                            <span class="icon-high"></span>
                                        </div>
                                        <div class="text">
                                            <h3>Earn Interest up to 7%</h3>
                                            <p>
                                                Holds these matters principles selection
                                                right some rejects.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Card Details Single Features Box-->
                            <!--Start Card Details Single Features Box-->
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="card-details-single-features-box style2">
                                    <div class="single-benefits-box">
                                        <div class="icon">
                                            <span class="icon-notification"></span>
                                        </div>
                                        <div class="text">
                                            <h3>Free SMS Alerts</h3>
                                            <p>
                                                Business will frequently occur that pleasure
                                                have to be repudiated.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Card Details Single Features Box-->
                            <!--Start Card Details Single Features Box-->
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="card-details-single-features-box style3">
                                    <div class="single-benefits-box">
                                        <div class="icon">
                                            <span class="icon-credit-card-2"></span>
                                        </div>
                                        <div class="text">
                                            <h3>International Debit Cards</h3>
                                            <p>
                                                The wise man therefore always holds these
                                                principle of selection.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Card Details Single Features Box-->
                            <!--Start Card Details Single Features Box-->
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="card-details-single-features-box style4">
                                    <div class="single-benefits-box">
                                        <div class="icon">
                                            <span class="icon-shield-1"></span>
                                        </div>
                                        <div class="text">
                                            <h3>Provides Safety</h3>
                                            <p>
                                                Holds these matters principles selection
                                                right some rejects.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Card Details Single Features Box-->
                        </div>
                    </div>

                    <!--Start Card details Offer Box-->
                    <div class="card-details-offer-box">
                        <div class="inner-title">
                            <h2>Exciting Offers for You</h2>
                            <p>Toil and pain cases are perfectly simple and easy to distinguish a free hour.</p>
                        </div>
                        <div class="row">
                            <!--Start Single Offer Box-->
                            <div class="col-xl-6">
                                <div class="single-offer-box">
                                    <div class="top">
                                        <div class="offer-logo">
                                            <img src="assets/images/resources/offer-logo-1.png" alt="">
                                        </div>
                                        <div class="date-box">
                                            <p>Till: 25th Jun’22</p>
                                        </div>
                                    </div>
                                    <div class="category">
                                        <h4>Medical</h4>
                                        <div class="border-box"></div>
                                    </div>
                                    <h3>Get 10% Cashback on Xfinity Restuarant.</h3>
                                    <div class="bottom">
                                        <div class="btn-box">
                                            <a href="#"><span class="icon-right-arrow"></span>Know More</a>
                                        </div>
                                        <div class="share-btn">
                                            <a href="#"><span class="icon-share"></span>Share</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Offer Box-->
                            <!--Start Single Offer Box-->
                            <div class="col-xl-6">
                                <div class="single-offer-box">
                                    <div class="top">
                                        <div class="offer-logo">
                                            <img src="assets/images/resources/offer-logo-2.png" alt="">
                                        </div>
                                        <div class="date-box">
                                            <p>Till: 10th Jul’22</p>
                                        </div>
                                    </div>
                                    <div class="category">
                                        <h4>Entertainment</h4>
                                        <div class="border-box"></div>
                                    </div>
                                    <h3>Get 10% Cashback on Xfinity Restuarant.</h3>
                                    <div class="bottom">
                                        <div class="btn-box">
                                            <a href="#"><span class="icon-right-arrow"></span>Know More</a>
                                        </div>
                                        <div class="share-btn">
                                            <a href="#"><span class="icon-share"></span>Share</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Offer Box-->
                        </div>
                    </div>
                    <!--End Card details Offer Box-->

                    <div class="card-deatils-accordion-box">
                        <ul class="accordion-box">
                            <li class="accordion block active-block">
                                <div class="acc-btn active">
                                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                    <h3>Eligibility to Apply</h3>
                                </div>
                                <div class="acc-content current">
                                    <div class="card-deatils-accordion-box-content">
                                        <h4>To apply for a Credit Card</h4>
                                        <ul>
                                            <li>You will need to be minimum 18 years of age.</li>
                                            <li>For salary person net annual income of Rs 4.5 lakh or more</li>
                                            <li>
                                                Consider a credit score between 750 and 900 to be adequate for a
                                                Credit Card.
                                            </li>
                                            <li>Location is also another factor </li>
                                        </ul>
                                        <div class="btns-box">
                                            <a class="btn-one" href="#">
                                                <span class="txt">Open an Account</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                    <h3>Fees & Charges</h3>
                                </div>
                                <div class="acc-content">
                                    <div class="card-deatils-accordion-box-content">
                                        <h4>To apply for a Credit Card</h4>
                                        <ul>
                                            <li>You will need to be minimum 18 years of age.</li>
                                            <li>For salary person net annual income of Rs 4.5 lakh or more</li>
                                            <li>
                                                Consider a credit score between 750 and 900 to be adequate for a
                                                Credit Card.
                                            </li>
                                            <li>Location is also another factor </li>
                                        </ul>
                                        <div class="btns-box">
                                            <a class="btn-one" href="#">
                                                <span class="txt">Open an Account</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!--End Cards Details Area-->
