@using Bank.Core.Entities.Models

@model List<Currency>

<section class="money-exchange-value-area">
    <div class="money-exchange-value-area-bg"
         style="background-image: url(assets/BankImages/BankImages3.jpg);"></div>
    <div class="container">
        <div class="sec-title text-center">
            <h2>Foreign Exchange Rates</h2>
            <div class="sub-title">
                <p>Denouncing pleasure & praising pain was born.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="money-exchange-value-tab">

                    <!--Start Money Exchange Value Tab Button-->
                    <div class="money-exchange-value-tab__button">
                        <ul class="tabs-button-box">
                            <li data-tab="#money-send-receive" class="tab-btn-item active-btn-item">
                                <h3>Money Send & Receive</h3>
                            </li>

                        </ul>
                    </div>
                    <!--End Money Exchange Value Tab Button-->
                    <!--Start Tabs Content Box-->
                    <div class="tabs-content-box">
                        <!--Tab-->
                        <div class="tab-content-box-item tab-content-box-item-active" id="money-send-receive">
                            <div class="money-exchange-value-tab-content-box-item">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        
                                    <!--Start Single Money Exchange Value-->
                                    <div class="col-xl-2 col-lg-4 col-md-4">
                                        <div class="single-money-exchange-value">
                                            <div class="flag-box">
                                                <div class="flag-box-inner">
                                                    <img src="/Upload/CurrencyImages/@item.ImageUrl" alt="">
                                                </div>
                                            </div>
                                            <h3>@item.Title</h3>
                                            <ul>
                                                <li>
                                                    <div class="left">
                                                        <p>Send</p>
                                                        <span>:</span>
                                                    </div>
                                                    <div class="right">
                                                            <p>
                                                                <td>@(Math.Truncate(item.SendMoney * 100) / 100)</td>
                                                            </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="left">
                                                        <p>Receive</p>
                                                        <span>:</span>
                                                    </div>
                                                    <div class="right">
                                                            <p>
                                                                <td>@(Math.Truncate(item.RecieveMoney * 100) / 100)</td>
                                                            </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--End Single Money Exchange Value-->
                                    }
                                </div>
                            </div>
                        </div>


                    </div>
                    <!--End Tabs Content Box-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Money Exchange Rates Area-->
