@using Bank.Core.Entities.Models
@model List<Slider>

<!--Start Main Header Style1 Bottom-->
<div class="main-header-style1-bottom">
    <div class="auto-container">
        <div class="outer-box">
            <div class="update-box">
                <div class="inner-title">
                    <span class="icon-megaphone"></span>
                    <h4>Updates:</h4>
                </div>
                <div class="text">
                    <p>Get upto 4%* on our Savings Account Balances with Finbank.</p>

                    <a href="#"><span class="icon-chevron"></span>More Details</a> @*bura savging account page aparsin*@
                </div>
            </div>
            <div class="slogan-box">
                <p>
                    Your Goals, Our Commitment
                </p>
            </div>
        </div>
    </div>
</div>
<!--End Main Header Style1 Bottom-->
        </header>


<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->
<!--Main Slider Start-->
<section class="main-slider main-slider-style1">
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
                "effect": "fade",
                "pagination": {
                "el": "#main-slider-pagination",
                "type": "bullets",
                "clickable": true
                },
                "navigation": {
                "nextEl": "#main-slider__swiper-button-next",
                "prevEl": "#main-slider__swiper-button-prev"
                },
                "autoplay": {
                "delay": 5000
                }}'>
        <div class="swiper-wrapper">


            <!--Start Single Swiper Slide-->
            @foreach (var item in Model)
            {
                <div class="swiper-slide">
                    <div class="image-layer" style="background-image: url('/Upload/SliderImages/@item.ImageUrl');">
                    </div>
                    <div class="main-slider-style1__shape1" style="background-image: url(assets/images/shapes/slider-1-shape-1.png);">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="main-slider-content">
                                    <div class="main-slider-content__inner">
                                        <div class="big-title">
                                            <h2>@item.Title</h2>
                                        </div>
                                        <div class="text">
                                            <p>@item.Descriptions</p>
                                        </div>
                                        <div class="btns-box">
                                            <!-- Add your buttons or additional content here -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        <!-- If we need navigation buttons -->
        <div class="main-slider__nav">
            <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                <i class="icon-chevron left"></i>
            </div>
            <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                <i class="icon-chevron right"></i>
            </div>
        </div>

    </div>
</section>
<!--Main Slider End-->
