  <!--Start Main Header Style1 Bottom-->
<div class="main-header-style1-bottom">
    <div class="auto-container">
        <div class="outer-box">
            <div class="update-box">
                <div class="inner-title">
                    <span class="icon-megaphone"></span>
                    <h4>Updates:</h4>
                </div>
                <div class="text">
                    <p>Get upto 4%* on our Savings Account Balances with Finbank.</p>
                    <a href="#"><span class="icon-chevron"></span>More Details</a>
                </div>
            </div>
            <div class="slogan-box">
                <p>
                    Dear Customer, We have launched Video KYC facility for New customer to open savings ac
                </p>
            </div>
        </div>
    </div>
</div>
<!--End Main Header Style1 Bottom-->
        </header>


@await Component.InvokeAsync("Question")