@using Bank.Core.Entities.Models
@model List<Question>

<!-- Start Faq Style1 Area -->
<section class="faq-style1-area">
    <div class="container">

        <div class="row">
            <div class="col-xl-12">
                <div class="faq-style1-title">
                    <div class="sec-title">
                        <h2>Questions & Answers</h2>
                        <div class="sub-title">
                            <p>Find answers to all your queries about our service.</p>
                        </div>
                    </div>
                    <div class="faq-search-box__inner">
                        <form class="search-form" action="#" id="faqSearchForm">
                            <input id="searchInput" class="search-input" placeholder="Search for questions..." type="text" oninput="filterQuestions()">
                            <button type="submit" class="search-button">
                                <i class="icon-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6">
                <div class="faq-style1__image">
                    <div class="inner">
                        <img src="~/assets/BankImages/Bank1.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="faq-style1__content">
                    <ul class="accordion-box">
                        <li class="accordion block active-block">
                            <div class="acc-btn active">
                                <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                <h3>What is the minimum balance?</h3>
                            </div>
                            <div class="acc-content current">
                                <p>
                                    Rationally encounter consequences that are extremely painful again there anyone who loves or pursues desire.
                                </p>
                            </div>
                        </li>

                        @foreach (var item in Model)
                        {
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer"><i class="icon-right-arrow"></i></div>
                                    <h3>@item.Title</h3>
                                </div>
                                <div class="acc-content">
                                    <p>
                                        @item.Description
                                    </p>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Faq Style1 Area -->
<script>
    function filterQuestions() {
        var input, filter, ul, li, h3, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        ul = document.querySelector(".accordion-box");
        li = ul.getElementsByTagName("li");

        for (i = 0; i < li.length; i++) {
            h3 = li[i].getElementsByTagName("h3")[0];
            txtValue = h3.textContent || h3.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>
