<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finbank || Responsive HTML 5 Template</title>
    <!-- Favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="assets/images/favicons/site.webmanifest" />
    <meta name="description" content="Finbank HTML 5 Template " />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="assets/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="assets/vendors/nice-select/nice-select.css" />
    <link rel="stylesheet" href="assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="assets/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="assets/vendors/thm-icons/style.css">
    <link rel="stylesheet" href="assets/vendors/language-switcher/polyglot-language-switcher.css">
    <!-- Module css -->
    <link rel="stylesheet" href="assets/css/module-css/01-header-section.css">
    <link rel="stylesheet" href="assets/css/module-css/02-banner-section.css">
    <link rel="stylesheet" href="assets/css/module-css/03-about-section.css">
    <link rel="stylesheet" href="assets/css/module-css/04-fact-counter-section.css">
    <link rel="stylesheet" href="assets/css/module-css/05-testimonial-section.css">
    <link rel="stylesheet" href="assets/css/module-css/06-partner-section.css">
    <link rel="stylesheet" href="assets/css/module-css/07-footer-section.css">
    <link rel="stylesheet" href="assets/css/module-css/08-blog-section.css">

    <!-- Template styles -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />

</head>


<body>

    <!-- Start preloader -->
    <div class="loader-wrap">
        <div class="preloader">
            <div class="preloader-close">x</div>
            <div id="handle-preloader" class="handle-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                    <div class="txt-loading">
                        <span data-text-preloader="f" class="letters-loading">
                            f
                        </span>
                        <span data-text-preloader="i" class="letters-loading">
                            i
                        </span>
                        <span data-text-preloader="n" class="letters-loading">
                            n
                        </span>
                        <span data-text-preloader="b" class="letters-loading">
                            b
                        </span>
                        <span data-text-preloader="a" class="letters-loading">
                            a
                        </span>
                        <span data-text-preloader="n" class="letters-loading">
                            N
                        </span>
                        <span data-text-preloader="k" class="letters-loading">
                            k
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End preloader -->


    <div class="page-wrapper">
        <header class="main-header main-header-style1">

            <!--Start Main Header Style1 Top-->
            <div class="main-header-style1-top">
                <div class="auto-container">
                    <div class="outer-box">
                        <!--Start Main Header Style1 Top Left-->
                        <div class="main-header-style1-top__left">
                            <div class="looking-banking-box ">
                                <div class="inner-title">
                                    <span class="icon-binoculars"></span>
                                    <p>Looking</p>
                                </div>
                                <div class="select-box clearfix">
                                    <select class="wide">
                                        <option data-display="Personal Banking">
                                            Personal Banking
                                        </option>
                                        <option value="1">Business Banking</option>
                                        <option value="2">Personal Banking 01</option>
                                        <option value="3">Personal Banking 02</option>
                                        <option value="4">Personal Banking 03</option>
                                    </select>
                                </div>
                            </div>
                            <div class="nearest-branch">
                                <span class="icon-map"></span>
                                <a href="#">Find Nearest Branch</a>
                            </div>
                        </div>
                        <!--End Main Header Style1 Top Left-->
                        <!--Start Main Header Style1 Top Right-->
                        <div class="main-header-style1-top__right">
                            <div class="header-menu-style1">
                                <ul>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Faq’s</a></li>
                                    <li><a href="#">Offers</a></li>
                                    <li><a href="#">Calendar</a></li>
                                </ul>
                            </div>
                            <div class="box-search-style1">
                                <a href="#" class="search-toggler">
                                    <span class="icon-search"></span>
                                    Search
                                </a>
                            </div>
                            <div class="language-switcher">
                                <div id="polyglotLanguageSwitcher">
                                    <form action="#">
                                        <select id="polyglot-language-options">
                                            <option id="en" value="en" selected>English</option>
                                            <option id="fr" value="fr">French</option>
                                            <option id="de" value="de">German</option>
                                            <option id="it" value="it">Italian</option>
                                            <option id="es" value="es">Spanish</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--End Main Header Style1 Top Right-->

                    </div>
                </div>
            </div>
            <!--End Main Header Style1 Top-->

            <nav class="main-menu main-menu-style1">
                <div class="main-menu__wrapper clearfix">
                    <div class="container">
                        <div class="main-menu__wrapper-inner">

                            <div class="main-menu-style1-left">
                                <div class="logo-box-style1">
                                    <a href="index.html">
                                        <img src="~/assets/images/resources/logo-1.png" alt="Awesome Logo" title="">
                                    </a>
                                </div>

                                <div class="main-menu-box">
                                    <a href="#" class="mobile-nav__toggler">
                                        <i class="icon-menu"></i>
                                    </a>

                                    <ul class="main-menu__list">
                                        <li class="dropdown megamenu">
                                            <a href="index.html">Home</a>
                                            <ul>
                                                <li>
                                                    <div class="megamenu-content-box">
                                                        <div class="container">
                                                            <div class="megamenu-content-box__inner">
                                                                <div class="row">

                                                                    <!--Start Home Showcase Item-->
                                                                    <div class="col-lg-3">
                                                                        <div class="home-showcase__item">
                                                                            <div class="home-showcase__image">
                                                                                <img src="~/assets/images/home-showcase/home-showcase-1-1.jpg"
                                                                                     alt="">
                                                                                <div class="home-showcase__buttons">
                                                                                    <a href="index.html"
                                                                                       class="btn-one home-showcase__buttons__item top">
                                                                                        <span class="txt">
                                                                                            Multi
                                                                                            Page
                                                                                        </span>
                                                                                    </a>
                                                                                    <a href="index-one-page.html"
                                                                                       class="btn-one home-showcase__buttons__item">
                                                                                        <span class="txt">
                                                                                            One
                                                                                            Page
                                                                                        </span>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <h3 class="home-showcase__title">
                                                                                Home Page One
                                                                            </h3>
                                                                        </div>
                                                                    </div>
                                                                    <!--End Home Showcase Item-->
                                                                    <!--Start Home Showcase Item-->
                                                                    <div class="col-lg-3">
                                                                        <div class="home-showcase__item">
                                                                            <div class="home-showcase__image">
                                                                                <img src="~/assets/images/home-showcase/home-showcase-1-2.jpg"
                                                                                     alt="">
                                                                                <div class="home-showcase__buttons">
                                                                                    <a href="index-2.html"
                                                                                       class="btn-one home-showcase__buttons__item top">
                                                                                        <span class="txt">
                                                                                            Multi
                                                                                            Page
                                                                                        </span>
                                                                                    </a>
                                                                                    <a href="index-2-one-page.html"
                                                                                       class="btn-one home-showcase__buttons__item">
                                                                                        <span class="txt">
                                                                                            One
                                                                                            Page
                                                                                        </span>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <h3 class="home-showcase__title">
                                                                                Home Page Two
                                                                            </h3>
                                                                        </div>
                                                                    </div>
                                                                    <!--End Home Showcase Item-->
                                                                    <!--Start Home Showcase Item-->
                                                                    <div class="col-lg-3">
                                                                        <div class="home-showcase__item">
                                                                            <div class="home-showcase__image">
                                                                                <img src="~/assets/images/home-showcase/home-showcase-1-3.jpg"
                                                                                     alt="">
                                                                                <div class="home-showcase__buttons">
                                                                                    <a href="index-3.html"
                                                                                       class="btn-one home-showcase__buttons__item top">
                                                                                        <span class="txt">
                                                                                            Multi
                                                                                            Page
                                                                                        </span>
                                                                                    </a>
                                                                                    <a href="index-3-one-page.html"
                                                                                       class="btn-one home-showcase__buttons__item">
                                                                                        <span class="txt">
                                                                                            One
                                                                                            Page
                                                                                        </span>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <h3 class="home-showcase__title">
                                                                                Home Page Three
                                                                            </h3>
                                                                        </div>
                                                                    </div>
                                                                    <!--End Home Showcase Item-->
                                                                    <!--Start Home Showcase Item-->
                                                                    <div class="col-lg-3">
                                                                        <div class="home-showcase__item">
                                                                            <div class="home-showcase__image">
                                                                                <img src="~/assets/images/home-showcase/home-showcase-1-4.jpg"
                                                                                     alt="">
                                                                                <div class="home-showcase__buttons">
                                                                                    <a href="index-dark.html"
                                                                                       class="btn-one home-showcase__buttons__item top">
                                                                                        <span class="txt">
                                                                                            View
                                                                                            Page
                                                                                        </span>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <h3 class="home-showcase__title">
                                                                                Home Dark
                                                                            </h3>
                                                                        </div>
                                                                    </div>
                                                                    <!--End Home Showcase Item-->

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <a href="#">Services</a>
                                            <ul>
                                                <li class="dropdown">
                                                    <a href="#">Accounts</a>
                                                    <ul>
                                                        <li><a href="accounts.html">All Accounts</a></li>
                                                        <li><a href="account-savings.html">Savings Account</a></li>
                                                        <li><a href="account-current.html">Current Account</a></li>
                                                        <li>
                                                            <a href="account-fixed-dep.html">Fixed Deposit Account</a>
                                                        </li>
                                                        <li><a href="account-salary.html">Salary Account</a></li>
                                                        <li>
                                                            <a href="account-recuring-dep.html">Recuring Deposit a/c</a>
                                                        </li>
                                                        <li><a href="account-nri.html">NRI Account</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#">Cards</a>
                                                    <ul>
                                                        <li><a href="cards.html">Our All Cards</a></li>
                                                        <li><a href="cards-business.html">Business</a></li>
                                                        <li><a href="cards-cashback.html">Cashback</a></li>
                                                        <li><a href="cards-law-interest.html">Low Interest</a></li>
                                                        <li><a href="cards-rewards.html">Rewards</a></li>
                                                        <li><a href="cards-secured.html">Secured</a></li>
                                                        <li><a href="cards-travel-hotel.html">Travel & Hotel</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#">Loans</a>
                                                    <ul>
                                                        <li><a href="loan-home.html">Home Loan</a></li>
                                                        <li><a href="loan-personal.html">Personal Loan</a></li>
                                                        <li><a href="loan-vehicle.html">Vehicle Loan</a></li>
                                                        <li><a href="loan-education.html">Education Loan</a></li>
                                                        <li><a href="loan-gold.html">Gold Loan</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <a href="#">About</a>
                                            <ul>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="team.html">Board of Directors</a></li>
                                                <li><a href="careers.html">Careers</a></li>
                                                <li><a href="careers-details.html">Career Detail</a></li>
                                                <li><a href="faq.html">Faq’s</a></li>
                                                <li><a href="testimonials.html">Testimonials</a></li>
                                                <li><a href="404.html">404 Error</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">News</a>
                                            <ul>
                                                <li><a href="blog.html">Grid View</a></li>
                                                <li><a href="blog-2.html">List View</a></li>
                                                <li><a href="blog-3.html">Large Image</a></li>
                                                <li><a href="blog-single.html">Single Post</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Apply Now</a>
                                            <ul>
                                                <li><a href="loan-home.html">Home Loan</a></li>
                                                <li><a href="loan-personal.html">Personal Loan</a></li>
                                                <li><a href="loan-vehicle.html">Vehicle Loan</a></li>
                                                <li><a href="loan-education.html">Education Loan</a></li>
                                                <li><a href="loan-gold.html">Gold Loan</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="contact.html">Get In Touch</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="main-menu-style1-right">
                                <div class="header-btn-one">
                                    <a href="#">
                                        <span class="icon-home-button"></span>Login
                                    </a>
                                    <a class="style2" href="#">
                                        <span class="icon-payment"></span>Open an Account
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </nav>
            @RenderBody()


        <!--Start footer area -->
        <footer class="footer-area">
            <div class="right-shape">
                <img src="~/assets/images/shapes/footer-right-shape.png" alt="">
            </div>

            <!--Start Footer Top-->
            <div class="footer-top">
                <div class="lef-shape">
                    <span class="icon-origami"></span>
                </div>
                <div class="container">
                    <div class="row">
                        <!--Start single footer widget-->
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
                            <div class="single-footer-widget single-footer-widget--link-box">
                                <div class="title">
                                    <h3>Loans</h3>
                                </div>
                                <div class="footer-widget-links">
                                    <ul>
                                        <li><a href="#">Home Loan</a></li>
                                        <li><a href="#">Car Loan</a></li>
                                        <li><a href="#">Two Wheeler Loan</a></li>
                                        <li><a href="#">Commercial Vehicle Loan</a></li>
                                        <li><a href="#">Personal Loan</a></li>
                                        <li><a href="#">Tractor Loan</a></li>
                                        <li><a href="#">Construction Loan</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->
                        <!--Start single footer widget-->
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
                            <div class="single-footer-widget single-footer-widget--link-box">
                                <div class="title">
                                    <h3>Rates & Charges</h3>
                                </div>
                                <div class="footer-widget-links">
                                    <ul>
                                        <li><a href="#">Interest Rates</a></li>
                                        <li><a href="#">Gold Rate Today</a></li>
                                        <li><a href="#">Service Charges & Fees</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-footer-widget single-footer-widget--link-box-style2">
                                <div class="title">
                                    <h3>Online</h3>
                                </div>
                                <div class="footer-widget-links">
                                    <ul>
                                        <li><a href="#">Mobile Banking</a></li>
                                        <li><a href="#">Internet Banking</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->

                        <!--Start single footer widget-->
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
                            <div class="single-footer-widget single-footer-widget--link-box">
                                <div class="title">
                                    <h3>About Us</h3>
                                </div>
                                <div class="footer-widget-links">
                                    <ul>
                                        <li><a href="#">Our Story</a></li>
                                        <li><a href="#">Board of Directors</a></li>
                                        <li><a href="#">Management Committee</a></li>
                                        <li><a href="#">Media</a></li>
                                        <li><a href="#">Investor Relations</a></li>
                                        <li><a href="#">Awards & Recognition</a></li>
                                        <li><a href="#">Careers</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->

                        <!--Start single footer widget-->
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
                            <div class="single-footer-widget single-footer-widget--link-box">
                                <div class="title">
                                    <h3>Services</h3>
                                </div>
                                <div class="footer-widget-links">
                                    <ul>
                                        <li><a href="#">Savings Account</a></li>
                                        <li><a href="#">Current Account</a></li>
                                        <li><a href="#">Deposits</a></li>
                                        <li><a href="#">Cards</a></li>
                                        <li><a href="#">Payments</a></li>
                                        <li><a href="#">Insurance</a></li>
                                        <li><a href="#">Locker Facility</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->
                    </div>
                </div>
            </div>
            <!--End Footer Top-->

            <!--Start Footer-->
            <div class="footer">
                <div class="container">
                    <div class="row">

                        <!--Start single footer widget-->
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                            <div class="single-footer-widget marbtm50">
                                <div class="our-company-info">
                                    <div class="footer-logo-style1">
                                        <a href="index.html">
                                            <img src="~/assets/images/footer/footer-logo-1.png" alt="Awesome Logo"
                                                title="">
                                        </a>
                                    </div>
                                    <div class="copyright-text">
                                        <p>
                                            Copyright &copy; 2022 <a href="index.html">Finbank.</a> Licensed by the<br>
                                            Central Bank of United States.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->

                        <!--Start single footer widget-->
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                            <div class="single-footer-widget marbtm50">
                                <div class="footer-widget-contact-info">
                                    <ul>
                                        <li>
                                            <h3>
                                                <a href="tel:2512353256">(800) 123 456 78</a>
                                            </h3>
                                            <p>Customer Care</p>
                                        </li>
                                        <li>
                                            <h3>Mon - Fri: 9.00am to 5.00pm</h3>
                                            <p>Banking Hours</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->

                        <!--Start single footer widget-->
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                            <div class="single-footer-widget">
                                <div class="single-footer-widget-right-colum">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                Download Forms
                                                <span class="icon-download"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Register Your Complaint
                                                <span class="icon-feedback"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->

                    </div>
                </div>
            </div>
            <!--End Footer-->

            <div class="footer-bottom">
                <div class="container">
                    <div class="bottom-inner">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Disclaimer</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Online Security Tips</a></li>
                            </ul>
                        </div>
                        <div class="footer-social-link">
                            <ul class="clearfix">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!--End footer area-->
    </div>
    <!-- /.page-wrapper -->






    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler">
                <i class="fas fa-plus"></i>
            </span>
            <div class="logo-box">
                <a href="index.html" aria-label="logo image">
                    <img src="~/assets/images/resources/mobile-nav-logo.png" alt="" />
                </a>
            </div>
            <div class="mobile-nav__container"></div>
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:info@example.com">info@example.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:123456789">444 000 777 66</a>
                </li>
            </ul>
            <div class="mobile-nav__social">
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-facebook-square"></a>
                <a href="#" class="fab fa-pinterest-p"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div>
        </div>
    </div>


    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label>
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-search"></i>
                </button>
            </form>
        </div>
    </div>


    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
        <i class="icon-chevron"></i>
    </a>


    <script src="~/assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="~/assets/vendors/circleType/jquery.circleType.js"></script>
    <script src="~/assets/vendors/circleType/jquery.lettering.min.js"></script>
    <script src="~/assets/vendors/isotope/isotope.js"></script>
    <script src="~/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="~/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/vendors/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="~/assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="~/assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/assets/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="~/assets/vendors/odometer/odometer.min.js"></script>
    <script src="~/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assets/vendors/swiper/swiper.min.js"></script>
    <script src="~/assets/vendors/vegas/vegas.min.js"></script>
    <script src="~/assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="~/assets/vendors/wow/wow.js"></script>
    <script src="~/assets/vendors/extra-scripts/jquery.paroller.min.js"></script>
    <script src="~/assets/vendors/language-switcher/jquery.polyglot.language.switcher.js"></script>

    <!-- Template js -->
    <script src="~/assets/js/custom.js"></script>


</body>

</html>