@using Bank.Core.Entities.Models
@model Loan


<!--Start Main Header Style1 Bottom-->
<div class="main-header-style1-bottom">
    <div class="auto-container">
        <div class="outer-box">
            <div class="update-box">
                <div class="inner-title">
                    <span class="icon-megaphone"></span>
                    <h4>Updates:</h4>
                </div>
                <div class="text">
                    <p>Get upto 4%* on our Savings Account Balances with Finbank.</p>
                    <a href="#"><span class="icon-chevron"></span>More Details</a>
                </div>
            </div>
            <div class="slogan-box">
                <p>
                    Dear Customer, We have launched Video KYC facility for New customer to open savings ac
                </p>
            </div>
        </div>
    </div>
</div>
<!--End Main Header Style1 Bottom-->
        </header>



<!--Start Applying Process Area-->
<section class="applying-process-area">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Explore and Apply Now</h2>
            <div class="sub-title">
                <p>Customised soutions for all your banking needs.</p>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-12">
                <div class="applying-process-step-box-top"></div>
            </div>
            <!--Start Single Applying Process box-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-applying-process-box">
                    <div class="applying-process-single-step-box">01</div>
                    <h3>Apply Here</h3>
                    <p>
                        Perfectly simple & easy to distinguish
                        of choice is prevents.
                    </p>
                </div>
            </div>
            <!--End Single Applying Process box-->
            <!--Start Single Applying Process box-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-applying-process-box">
                    <div class="applying-process-single-step-box">02</div>
                    <h3>Get Call Back</h3>
                    <p>
                        Claims off duty or the obligations it will
                        pleasures be repudiated.
                    </p>
                </div>
            </div>
            <!--End Single Applying Process box-->
            <!--Start Single Applying Process box-->
            <div class="col-xl-4 col-lg-4">
                <div class="single-applying-process-box">
                    <div class="applying-process-single-step-box">03</div>
                    <h3>Process Your Request</h3>
                    <p>
                        Demoralized by charms pleasure of the
                        they cannot and trouble.
                    </p>
                </div>
            </div>
            <!--End Single Applying Process box-->
        </div>
    </div>
</section>





<!-- The rest of your Index view content -->
<!--End Applying Process Area-->
<!--Start Apply Form Area-->
<section class="apply-form-area">

    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="apply-form-box clearfix">
                    <div class="apply-form-box-bg"
                         style="background-image: url(assets/BankImages/Loanimages.jpg);"></div>
                    <div class="apply-form-box__content">
                        <div class="sec-title">
                            <h2>Send Your Request <br> For Loan</h2>
                            <div class="sub-title">
                                <p>Fill all the necessary details and Get send message from mail.</p>
                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.ErrorMessage
                            </div>
                        }

                        <form id="apply-form" name="apply_form" class="default-form2" asp-action="Apply" asp-controller="Loan"
                              method="post">

                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <div class="input-box">
                                            <input asp-for="Name" type="text" id="formName"
                                                   placeholder="Your Name" required="">
                                            <span asp-validation-for="Name"></span>
                                            <div class="icon">
                                                <i class="fas fa-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <div class="input-box">
                                            <input asp-for="Surname" type="text" id="formName"
                                                   placeholder="Your Surname" required="">
                                            <span asp-validation-for="Surname"></span>

                                            <div class="icon">
                                                <i class="fas fa-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <div class="input-box">
                                            <input asp-for="Email" type="email" id="formEmail" placeholder="Email" required="">
                                            <span id="emailValidationIcon"></span>
                                            <span asp-validation-for="Email"></span>
                                            @section scripts {
                                                <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#formEmail").on("input", function () {
                                                            validateEmail();
                                                        });
                                                    });

                                                    function validateEmail() {
                                                        var emailInput = $("#formEmail").val();
                                                        var emailValidationIcon = $("#emailValidationIcon");

                                                        if (/^[^\s]+[^\s]+\.[^\s]+$/.test(emailInput) && emailInput.endsWith("@@gmail.com")) {
                                                            emailValidationIcon.html('<span style="color: green;">&#10004;</span>');
                                                        } else {
                                                            emailValidationIcon.html('<span style="color: red;">&#10008;</span>');
                                                        }
                                                    }
                                                </script>
                                            }

                                                <div class="icon">
                                                    <i class="fas fa-envelope-open"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <div class="input-box">
                                                <input asp-for="FinCode" type="text"
                                                   placeholder="FinCode" required="">
                                                <span asp-validation-for="FinCode"></span>

                                                <div class="icon">
                                                    <i class="fas fa-user"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <div class="input-box">
                                                    <input asp-for="Phone" type="text" id="formName" placeholder="Phone" required="">
                                                    <span asp-validation-for="Phone"></span>

                                                    <div class="icon">
                                                        <i class="fas fa-user"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- Closed the col-xl-6 div here -->

                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <div class="input-box">
                                                    <input asp-for="Country" type="text" id="formName" placeholder="Country" required="">
                                                    <span asp-validation-for="Country"></span>

                                                    <div class="icon">
                                                        <i class="fas fa-user"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="button-box">
                                                <button class="btn-one" type="submit">
                                                    <span class="txt">
                                                        Send Request
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Apply Form Area-->
