@using Bank.Business.ViewModels.BankIcon
@model UpdateIconVm
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <label asp-for="TItle">Title</label>
            <input class="form-control" asp-for="TItle" type="text">
            <span asp-validation-for="TItle" style="color:red"></span>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <label asp-for="SubTitle">SubTitle</label>
            <input class="form-control" asp-for="SubTitle" type="text">
            <span asp-validation-for="SubTitle" style="color:red"></span>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <label asp-for="Description">Description</label>
            <input class="form-control" asp-for="Description" type="text">
            <span asp-validation-for="Description" style="color:red"></span>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <label asp-for="Icon">Image</label>
            <input class="form-control" asp-for="Icon" />
            <span asp-validation-for="Icon" style="color:red"></span>
        </div>
        <div asp-validation-summary="All">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>